<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <strong>comments from <%= comment.username %></strong>
<div class="" style="display: flex; align-items: center; gap: 5px;">
    <p>Username : </p><h4><%= comment.username %></h4>
</div>
<div class="" style="display: flex; align-items: center; gap: 5px;"></div>
   <p>Comment : </p> <p><%= comment.text %></p>
</div>
</body>
</html>