<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="display: flex; flex-direction: column;">
        <strong>Make U're Comments</strong>
        <form class="form" action="/comments/<%= comment.id %>?_method=PATCH" method="post" style="display: flex; flex-direction: column; gap: 5px;">
        
            <label for=""> Username :
                <input type="text" name="username" placeholder="input username">
    
            <label for="">Comment : 
                <textarea name="text" id="text" >
                    <%= comment.text %>
            </label>
                </textarea>
            </label>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>